<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738437387772-t7u99lnv7igci9h17metj430pnke70ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738437387772-t7u99lnv7igci9h17metj430pnke70ev</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Ohh7DdiDSJtWOys6-mPRjImYwmVNico</string>
	<key>GCM_SENDER_ID</key>
	<string>738437387772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.segCourseworkApp</string>
	<key>PROJECT_ID</key>
	<string>seg-app-f4674</string>
	<key>STORAGE_BUCKET</key>
	<string>seg-app-f4674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:738437387772:ios:1cd617f3cf7062c157ce79</string>
	<key>DATABASE_URL</key>
	<string>https://seg-app-f4674-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
